
.table-div {
    margin-left: 17rem;
    height: 100%;
    display: flex;
    padding-bottom: 1rem;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    flex: 1;
    padding-bottom: 1rem;
}

.thHead {
    background-color: tomato;
    color:white;
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem;
}
td, th {
    vertical-align: top;
    text-align: left;
    border: solid 1px white;
    padding: 0.5rem;
}
body {
    display: flex;
}
.sunday {
    background-color: tomato;
}
.saturday {
    background-color: lightblue;
}
