
.table-div {
    margin-left: 17rem;
    height: 100%;
    display: flex;
    padding-bottom: 1rem;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    flex: 1;
    padding-bottom: 1rem;
}

.thHead {
    background-color: tomato;
    color:white;
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem;
    text-align: left;
}
td {
    vertical-align: top;
    text-align: left;
    border: solid 1px white;
    padding: 0.5rem;
}

.date:hover {
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

th.smaller {
    background-color: rgb(255, 147, 147);
   height: 2rem;
   color: white;
}

body {
    display: flex;
}
.sunday {
    background-color: tomato;
}
.saturday {
    background-color: rgb(255, 210, 193);
}
