table {
    width: 100%;
    height: 90vh;
    border: 2px solid black;
    padding: 1rem;
    margin-left: 15rem;
}
td, th {
   text-align: right;
   
}
body {
    display: flex;
}
.sunday {
    background-color: tomato;
}
.saturday {
    background-color: lightblue;
}
aside {
    border: 1px solid black;
    width: 15rem;
    height: 100%;
    position: fixed;
}
input {
    height: 3rem;
}
button {
    width: 100%;
}
.todo {
    margin: .5rem 0;
}

<<<<<<< HEAD
=======
/* Time display */
.timeSection {
    padding: 5rem 0rem 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time {
    font-size: 2rem;
}
.dateMonth {
    padding-left: 0.5rem;
}
.timeMonth {
    display: flex;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

}
>>>>>>> a6e7b1122390d6c9acad2bd5f3f46a48de16e49a
