table {
    width: 100%;
    height: 90vh;
    border: 2px solid black;
    padding: 1rem;
    margin-left: 15rem;
}
td, th {
   text-align: right;
   
}
body {
    display: flex;
}
.sunday {
    background-color: tomato;
}
.saturday {
    background-color: lightblue;
}
aside {
    border: 1px solid black;
    width: 15rem;
    height: 100%;
    position: fixed;
}
input {
    height: 3rem;
}
button {
    width: 100%;
}
.todo {
    margin: .5rem 0;
}

