aside {
    position: fixed;
    border: 1px solid black;
    width: 15rem;
    height: 100%;
}
input {
    height: 3rem;
}
button {
    width: 100%;
}
.todo {
    margin: .5rem 0;
}
<<<<<<< HEAD:sidebar.css
=======

/* Ul List */

.listContainer {
    border: 1px solid black;
    width: 14rem;
    height: 10rem;
    margin: auto;
}
.listTitle {
    text-align: center;
}

>>>>>>> a6e7b1122390d6c9acad2bd5f3f46a48de16e49a:style.css
/* Time display */
.timeSection {
    padding: 5rem 0rem 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time {
    font-size: 2rem;
}
.dateMonth {
    padding-left: 0.5rem;
}
.timeMonth {
    display: flex;
}

<<<<<<< HEAD:sidebar.css
}

=======

}
>>>>>>> a6e7b1122390d6c9acad2bd5f3f46a48de16e49a:style.css
