* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
aside {
    border: 1px solid black;
    width: 15rem;
    height: 100%;
}








/*  REUSABLE CLASSES  */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}